:root{
    --hover-color-:#94CFFF;
    --text-color: #FFFFFF;
    --button-color: #26C6EA;
    --title-color: #0A3853;
    --subtitle-color: #000000;
    --caption-color: #141414;
}
.container{
    width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid black; */
}

/* head */
.header{
  background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/head-fon.png);
  background-repeat: no-repeat;
  background-position: center;
 background-size: cover;
 padding-top: 39px;
  padding-bottom: 39px;
}

.header .container{
    display: flex;
    align-items: center;
}

.logo-avatar{
    width: 186px;
    height: 72px;
}

.head-list{
    display: flex;
    gap: 38px;
    margin-left: auto;
}

.head-adres{
color: var(--text-color);
font-family: 'Inter';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.index-list{
    display: flex;
    gap: 38px;
    margin-left: auto;
}

.index-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.head-adres:hover{
    color: var(--hover-color-);
}

.head-button{
color: var(--button-color);
font-family: 'HeadlandOne';
font-size: 20px;
font-style: normal;
font-weight: 400;
border: 3px solid #26C7EA;
background: #0B0E66;
border-radius: 45px 0px;
padding: 9px 37px;

}



.head-text{
color: var(--text-color);
font-family: "Hammersmith One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

/* hero */

.hero{
    background-color: pink;
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: url(../img/avatar.png);
    background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-list{
    display: flex;
    flex-direction: column;

}



.hero-text{
    color: var(--text-color);
     font-family:"Inter";
    font-size: 20px;
     font-weight: 400;
     margin-bottom: 42px;
     width: 298px;
    }

    .hero-button{
        color: var(--button-color);
     text-align: center;
     font-family: 'HeadlandOne';
     font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 3px solid #26C7EA;
     background: #0B0E66;
     border-radius: 45px 0px;
     padding: 25px 75px;
    }

    

    
    .networks-list{
        display: flex;
        flex-direction: column;
         align-items: flex-end;        
        gap: 25px;
    }

      .networks-item:nth-child(3){
        .social-networks{
            width: 50px;
        }
     }
    .social-networks{
        width: 30px;
      height: 30px;
     flex-shrink: 0;
     
    }

    /* people */

.people{
    padding-top: 75px;
    padding-bottom: 10px;
    
}


.people .container{
    display: grid; 
    place-items: center;
    
}

.people-title{
    color: var(--title-color);
font-family: 'Inter';
font-size: 36px;
font-weight: 400;
text-align: center;
margin-bottom: 16px;
}

.people-subtitle{
    color: var(--subtitle-color);
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
text-align: center;
}

.people-img{
width: 400px;
height: 120px;
flex-shrink: 0;

}


/* trailer */

.trailer{
    padding-top: 355px;
    padding-bottom: 356px;
    background-image: url(../img/neitri.png);
    background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 }

.trailer .container{
    display: flex;
    justify-content: center;
}


.trailer-button{
    color: var(--button-color);
text-align: justify;
font-family: 'HeadlandOne';
font-size: 24px;
font-weight: 400;
border: none;
border-radius: 45px 0px;
border: 3px solid #26C7EA;
background: #0B0E66;
padding: 25px 25px 17px 18px;
}

/* energy */

.energy{
    padding-top: 75px;
    padding-bottom: 10px; 
}

.energy .container{
    display: grid; 
    place-items: center;
    
}


.energy-title{
    color: var(--caption-color);
    font-family: Inter;
 font-size: 36px;
     font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.energy-subtitle{
    color: var(--subtitle-color);
    font-family: Inter;
    font-size: 24px;
   font-weight: 400;
   text-align: center;
}

.energy-img{
    width: 400px;
height: 120px;
flex-shrink: 0;

}
/* language */

.language{
    padding-top: 58px;
    padding-bottom: 57px;
    background-image:  url(../img/language-fon.png);
    background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 
}



.language-title{
    color: var(--caption-color);
font-family: 'HeadlandOne';
font-size: 32px;
font-weight: 400;
text-align: center;
margin-bottom: 45px;
}



.language-list{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    text-align: center;
    justify-content: center;
}

.language-item{
    width: 320px;
height: 240px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
background: rgba(255, 255, 255, 0.70);

}



.language-text{
    color: var(--caption-color);
    font-family: "HeadlandOne";
font-size: 24px;
font-weight: 400;
}

.language-img{
    width: 152px;
height: 40px;
flex-shrink: 0;
}

.language-desc{
    color: var(--subtitle-color);
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
}




 /* mother */

 .mother{
    padding-top: 75px;
    padding-bottom: 10px;
 }

 .mother .container{
    display: grid; 
    place-items: center;
 }
 .mother-title{
    color: var(--caption-color);
font-family: "Inter";
font-size: 36px;
font-weight: 400;
text-align: center;
margin-bottom: 16px;

}

.mother-subtitle{
    color: var(--subtitle-color);
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
text-align: center;
}

.mother-img{
    width: 400px;
height: 120px;
flex-shrink: 0;
}


/* footer */

.footer{
    padding-top: 77px;
    padding-bottom: 76px;
    background-image: linear-gradient( rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/footer-fon.png);
    background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}


.footer .container{
    display: flex;
    gap: 70px;
    align-items: center;
}

.footer-logo{
    width: 183px;
height: 70px;
flex-shrink: 0;
display: block;
}

.footer-box{
    display: flex;
    align-items:center ;
}

.footer-box::before{
    content: "";
    display: flex;
    align-items: center;
    width: 2px;
    height: 153px;
    background-color: #FFFFFF;
    margin-right: 70px;
    
}


.footer-text{
    color: var(--text-color);
font-family: 'Inter';
font-size: 20px;
font-weight: 400;
}

.footer-img{
    width: 269px;
    height: 2px;
    
}

.footer-adres{
    color: var(--text-color);
font-family: 'Inter';
font-size: 20px;
font-weight: 400;
}

.footer-link{
    color: var(--text-color);
font-family: 'Inter';
font-size: 14px;
font-weight: 400;
  text-align: center;
  
}

.footer-item{
    display: flex;
     align-items: center;

}

.footer-item:nth-child(2){
    margin-top: 16px;
    .footer-img{
        width: 194px;
    }
}

 